body{
    
    font-style:  sans-serif;
    background-color: rgb(137, 231, 255);

}

h1{
    text-align: justify;
    text-indent: 500px;

    

}

h2{
    font-size: small;
    font-style: normal;
    text-align: center;
    

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(137, 231, 255);
}

img{
    position: absolute;
    border: 8px solid;
    box-shadow: 4px 4px 4px;
     
}
 img{
    width: 30%;
    height: 40%;
}
img figcaption{
    position: absolute;
    font-size:25pt;
}